
<%= form_with(model: [:admin, iteasykit_plant], local: true) do |form| %>
  <% if iteasykit_plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iteasykit_plant.errors.count, "error") %> prohibited this iteasykit_plant from being saved:</h2>

      <ul>
      <% iteasykit_plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.file_field :file %>
  <% if iteasykit_plant.file.attached? %>
<% if iteasykit_plant.file.previewable? %>
  <%= "<img src='#{Rails.application.routes.url_helpers.rails_representation_path( iteasykit_plant.file.preview(resize: "100x100"), only_path: true)}'/>".html_safe %>
<% elsif iteasykit_plant.file.variable? %>
  <%= "<img src='#{Rails.application.routes.url_helpers.rails_representation_path( iteasykit_plant.file.variant(resize: "100x100"), only_path: true)}'/>".html_safe %>
<% else %>
  <%= link_to iteasykit_plant.file.blob.filename.to_param, Rails.application.routes.url_helpers.rails_blob_path(iteasykit_plant.file, disposition: "attachment", only_path: true) %>
<% end %>
<% end %>

 <div class="form-group">
            <label class="control-label">Сайт</label>
    <%= form.text_field :site, class: "form-control input-sm input-warning" %>
  </div>

 <div class="form-group">
            <label class="control-label">Телефон</label>
    <%= form.cktext_area :phone, class: "form-control input-sm input-warning" %>
  </div>

  <div class="field">
    <label class="control-label">Адреса</label>
    <%= form.text_field :address_map, class: "form-control input-sm input-warning" %>
  </div>

  <div class="field">
    <label class="control-label">геодані</label>
    <%= form.text_field :geodanniye, class: "form-control input-sm input-warning" %>
  </div>

  <div class="field">
    <label class="control-label">Країна</label>
    <%= form.text_field :country, class: "form-control input-sm input-warning" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control input-sm input-warning" %>
  </div>

  <div class="field">
    <label class="control-label">Координати</label>
    <%= form.text_field :cordinates, required: true,  class: "form-control input-sm input-warning" %>
  </div>

  <div class="field">
    <label class="control-label">Активно</label>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit 'Зберегти', class: "btn-success btn-lg" %>
  </div>
<% end %>
