<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @iteasykit_plant.site %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @iteasykit_plant.phone %>
</p>

<p>
  <strong>Address map:</strong>
  <%= @iteasykit_plant.address_map %>
</p>

<p>
  <strong>Geodanniye:</strong>
  <%= @iteasykit_plant.geodanniye %>
</p>

<p>
  <strong>Country:</strong>
  <%= @iteasykit_plant.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @iteasykit_plant.email %>
</p>

<p>
  <strong>Cordinates:</strong>
  <%= @iteasykit_plant.cordinates %>
</p>

<p>
  <strong>Active:</strong>
  <%= @iteasykit_plant.active %>
</p>

<%= link_to 'Edit', edit_iteasykit_plant_path(@iteasykit_plant) %> |
<%= link_to 'Back', iteasykit_plants_path %>
