<% content_for :entity_title do %><%= t('entity_list_in') %> <%= @entity_type.name %> <%= t('entity_type') %>
<% end %>
<% content_for :pull_right do %>
  <%= link_to '<i class="zmdi zmdi-long-arrow-return zmdi-hc-fw"></i>'.html_safe, admin_entity_types_url %>
<% end %>

<ul class="nav nav-tabs text-right">
  <li>
    <a href="/admin/<%= @entity_type.rel_model.pluralize.downcase %>/new?entity_type=<%= @entity_type.id %>"><%= t('new') %> <%= @entity_type.name %></a>
  </li>

  <li class="active">
    <a href="<%= admin_entity_type_url(@entity_type) %>"><%= t('list') %> <%= @entity_type.name %></a>
  </li>
  <li class="">
    <a href="<%= edit_admin_entity_type_url(@entity_type) %>"><%= t('edit_entity_type') %> <%= @entity_type.name %></a>
  </li>
  <li class="">
    <a href="<%= admin_entity_type_fields_url(@entity_type) %>"><%= t('fields_entity_type') %> <%= @entity_type.name %></a>
  </li>
</ul>

<%= render "iteasykit/admin/#{@entity_type.rel_model.pluralize.downcase}/list_objects" %>
