<aside class="sidebar sidebar-default" style="min-height: 400px;">
  <ul class="nav metismenu">
    <li><a href="<%= admin_entities_url %>"><i class="zmdi zmdi-collection-text"></i>Entities</a></li>
    <li><a href="<%= admin_entity_types_url %>"><i class="zmdi zmdi-library"></i>Entities Type</a></li>
    <li><a href="<%= admin_menus_url %>"><i class="zmdi zmdi-menu"></i>Menus</a></li>
    <li><a href="<%= admin_blocks_url %>"><i class="zmdi zmdi-collection-item"></i>Blocks</a></li>
    <li><a href="<%= admin_taxonomies_url %>"><i class="zmdi zmdi-bookmark"></i>Taxonomies</a></li>
    <li><a href="<%= admin_cells_url %>"><i class="zmdi zmdi-layers"></i>Cells</a></li>
    <li class="current-block active">
      <a href="#"><i class="zmdi zmdi-settings"></i>Setting<span class="zmdi arrow"></span></a>
      <ul class="nav nav-inside collapse">
        <li class="inside-title">Administration site</li>
      </ul>
    </li>
  </ul>
</aside>
