<div class="row">
  <%= form_with(model: [:admin, fci], local: true, class: 'form-horizontal') do |form| %>
    <% if fci.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(fci.errors.count, "error") %> prohibited this fci from being saved:</h2>

        <ul>
          <% fci.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group">
      <label class="col-sm-4 control-label">Name</label>
      <div class="col-sm-8">
        <%= form.text_field :name, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Type</label>
      <div class="col-sm-8">
        <%= form.select(:type_fci, [['String', 'string'], ['Full Text', 'full_text'], ['Text', 'text'],
                                    ['List String', 'list_string'], ['Integer', 'integer'], ['Boolean', 'boolean'], ['Image', 'image']],
                        {include_blank: false}, class: "form-control input-sm input-warning") %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Help</label>
      <div class="col-sm-8">
        <%= form.text_area :help, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Placheholder</label>
      <div class="col-sm-8">
        <%= form.text_field :placeholder, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Value</label>
      <div class="col-sm-8">
        <%= form.text_field :value, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Prefix</label>
      <div class="col-sm-8">
        <%= form.text_field :prefix, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Suffix</label>
      <div class="col-sm-8">
        <%= form.text_field :suffix, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Element html</label>
      <div class="col-sm-8">
        <%= form.text_field :elementcls, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Id </label>
      <div class="col-sm-8">
        <%= form.text_field :idcls, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Class </label>
      <div class="col-sm-8">
        <%= form.text_field :classcls, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Machine name </label>
      <div class="col-sm-8">
        <%= form.text_field :machine_name, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Position </label>
      <div class="col-sm-8">
        <%= form.number_field :position, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label text-color">
            Active:
            <%= form.check_box :active, class: "toggle toggle-success" %>
            <i></i>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label text-color">
            Is required:
            <%= form.check_box :is_required, class: "toggle toggle-success" %>
            <i></i>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label text-color">
            Is filter:
            <%= form.check_box :is_filter, class: "toggle toggle-success" %>
            <i></i>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label text-color">
            Is multi:
            <%= form.check_box :is_multi, class: "toggle toggle-success" %>
            <i></i>
          </label>
        </div>
      </div>


      <div class="col-md-4">
        <div class="form-group">
          <%= form.hidden_field :fciable_type, value: "Iteasykit::EntityType"%>



          <%= form.hidden_field :fciable_id, value: @entity_type.id %>


          <%= form.submit 'Save', class: "btn-success btn-lg" %>

        </div>
      </div>
    </div>
  <% end %>
</div>