<% content_for :entity_title do %>Fields in custom <%= @entity.machine_name %> entity
<% end %>
<% content_for :pull_right do %>
  <%= link_to '<i class="zmdi zmdi-long-arrow-return zmdi-hc-fw"></i>'.html_safe, admin_entity_url(@entity) %>
<% end %>

<ul class="nav nav-tabs text-right">
  <li>
    <a href="<%= edit_admin_entity_path(@entity) %>">Editing <%= @entity.id %></a>
  </li>
  <li class="active">
    <a href="<%= admin_entity_custom_fields_path(@entity) %>" >Custom field <%= @entity.machine_name %></a>
  </li>
  <li>
    <a href="<%= new_admin_entity_path %>?entity_type=<%= @entity_type.id %>">New <%= @entity_type.name %></a>
  </li>

  <li>
    <a href="<%= admin_entity_type_url(@entity_type) %>" title="List <%= @entity_type.name %>"><i class="zmdi zmdi-playlist-plus"></i></a>
  </li>
  <li class="">
    <a href="<%= edit_admin_entity_type_url(@entity_type) %>" title="Edit entity type <%= @entity_type.name %>"><i class="zmdi zmdi-settings"></i></a>
  </li>
  <li>
    <a href="<%= admin_entity_type_fields_url(@entity_type) %>" title="Field entity type <%= @entity_type.name %>"><i class="zmdi zmdi-border-color"></i></a>
  </li>

</ul>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <div class="content-box">
        <div class="head head-border warning-color">
          <h5 class="content-title warning-color">List field
            <a class="fullscreen-btn" href="#"><i class="zmdi zmdi-fullscreen"></i></a></h5>


        </div>

        <div class="content">
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
              <th>Drop</th>
              <th>Id</th>
              <th>Name</th>
              <th>Type</th>
              <th>Machine name</th>
              <th>Help</th>

              <th>Active</th>
              <th>Is required</th>
              <th>Is multi</th>
              <th>Is filter</th>

              <th>Action</th>
            </tr>
            </thead>
            <tbody class="sortable">  <!-- sortable target -->
            <% @fcis.each_with_sortable_id do |item, sortable_id| %>
              <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
                <td><i class="zmdi zmdi-arrows zmdi-hc-fw"></i></td>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.type_fci %></td>
                <td><%= item.machine_name %></td>
                <td><%= item.help %></td>
                <td><i class="zmdi zmdi-<%= item.active ? 'check' : 'close' %>"></i></td>
                <td><i class="zmdi zmdi-<%= item.is_required ? 'check' : 'close' %>"></i></td>
                <td><i class="zmdi zmdi-<%= item.is_multi ? 'check' : 'close' %>"></i></td>
                <td><i class="zmdi zmdi-<%= item.is_filter ? 'check' : 'close' %>"></i></td>

                <td class="text-center">
                  <%= link_to '<i class="zmdi zmdi-edit"></i>'.html_safe, "", class: "btn btn-success raised icon waves-effect",
                              'data-toggle'=>"modal", 'data-target'=>"#modal-large#{item.id}" %>
                  <%= link_to '<i class="zmdi zmdi-delete"></i>'.html_safe, [:admin, item], class: "btn btn-danger raised icon waves-effect", method: :delete,
                              data: {confirm: 'Are you sure?'} %></td>
              </tr>
              <div class="modal fade" id="modal-large<%=item.id %>" role="dialog" aria-hidden="true">
                <%= render 'iteasykit/admin/fcis/edit_form', fci: item %>
              </div>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-box">
        <div class="head head-border warning-color">
          <h5 class="content-title warning-color">Add new field</h5>
        </div>

        <div class="content">
          <%= render 'iteasykit/admin/fcis/form', fci: @fci %>
        </div>
      </div>

    </div>
  </div>
</div>