<% content_for :entity_title do %><%= t('add_new') %> <%= @entity_type.name %>
<% end %>
<% content_for :pull_right do %>
  <%= link_to '<i class="zmdi zmdi-long-arrow-return zmdi-hc-fw"></i>'.html_safe, admin_entity_type_url(@entity_type) %>
<% end %>

<ul class="nav nav-tabs text-right">
  <li class="active">
    <a href="<%= new_admin_entity_path %>?entity_type=<%= @entity_type.id %>"><%= t('new') %> <%= @entity_type.name %></a>
  </li>

  <li>
    <a href="<%= admin_entity_type_url(@entity_type) %>"><%= t('list') %> <%= @entity_type.name %></a>
  </li>
  <li class="">
    <a href="<%= edit_admin_entity_type_url(@entity_type) %>"><%= t('edit_entity_type') %> <%= @entity_type.name %></a>
  </li>
  <li>
    <a href="<%= admin_entity_type_fields_url(@entity_type) %>"><%= t('fields_entity_type') %> <%= @entity_type.name %></a>
  </li>
</ul>
<p><%= t(:add_new_object) %></p>
<%= render 'form', entity: @entity %>
