
<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>Ancestry</th>
    <th>Ancestry depth</th>
    <th>Active</th>
    <th>Position</th>
    <th>Blocked</th>
    <th>Sticky</th>
  </tr>
  </thead>

  <tbody>
  <% @object_list.each do |taxonomy| %>
  <tr>
    <td><%= taxonomy.ancestry %></td>
    <td><%= taxonomy.ancestry_depth %></td>
    <td><i class="zmdi zmdi-<%= taxonomy.active ? 'check' : 'close' %>"></i></td>
    <td><%= taxonomy.position %></td>
    <td><i class="zmdi zmdi-<%= taxonomy.blocked ? 'check' : 'close' %>"></i></td>
    <td><i class="zmdi zmdi-<%= taxonomy.sticky ? 'check' : 'close' %>"></i></td>
    <td class="text-center"><%= link_to 'Edit', edit_admin_taxonomy_path(taxonomy) %>
      <%= link_to 'Destroy', [:admin, taxonomy], class: "btn btn-danger raised icon waves-effect", method: :delete,
                  data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>

  </tbody>
</table>